@import url('https://fonts.googleapis.com/css2?family=Alata&family=Outfit:wght@300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Red+Hat+Display:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Outfit:wght@300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Red+Hat+Display:wght@300;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


/*******************************************
RESUABLE CODE
*******************************************/

.vr-img-txt .big-text,
.creative p {
    text-transform: uppercase;
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    color: hsl(0, 0%, 0%);
}


/*******************************************
STYLING THE HEADER
*******************************************/

header {
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.666), rgba(0, 0, 0, 0.666)), url(./images/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
}

header h2 {
    color: hsl(0, 0%, 100%);
}

nav,
h2 {
    margin-top: 40px;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: right;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: lighter;
}

.header-experience {
    border: 1px solid hsl(0, 0%, 100%);
    width: 410px;
    height: 250px;
    margin-top: 10%;
}

.header-experience h1 {
    color: hsl(0, 0%, 100%);
    letter-spacing: 3px;
    width: 330px;
    line-height: 1.5;
    font-size: 200%;
    margin-left: 40px;
    font-weight: lighter;
    letter-spacing: 5px;
}

h1 span {
    word-spacing: 5px;
}


/*******************************************
STYLING THE VR SECTION
*******************************************/

.interactive-vr {
    margin-top: 8%;
}

.vr-image {
    width: 60%;
    position: relative;
}

.vr-img-txt {
    width: 35%;
    height: 50%;
    background-color: #fff;
    position: absolute;
    top: 125%;
    left: 46%;
    padding-top: 30px;
}

.vr-img-txt .big-text {
    margin-top: 20px;
    margin-left: 60px;
    letter-spacing: 3px;
    word-spacing: 4px;
    padding: 25px 0 0 25px;
}

.vr-img-txt .small-text {
    color: hsl(0, 0%, 41%);
    font-size: 50%;
    margin-top: 50px;
    font-weight: 600;
    line-height: 2em;
    padding-left: 25px;
    word-spacing: 3px;
    margin-left: 60px;
}


/*******************************************
STYLING THE CREATIVE SECTION
*******************************************/

.creative {
    margin-top: 10%;
    display: flex;
}

.creative button {
    margin-left: 55%;
    font-size: small;
    text-transform: uppercase;
    width: 120px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 0%);
    font-weight: 400;
}

.creative button:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}


/* the mage gallery */

.img-gallery {
    position: relative;
    background-color: linear-gradient( rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.501));
}

.img-gallery-text {
    position: absolute;
    top: 80%;
    left: 10%;
}

.img-gallery-text p {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    width: 100px;
    font-weight: 200;
}

.img-gallery:hover {
    opacity: 0.5;
    cursor: pointer;
}

.img-gallery-text:hover p:hover {
    opacity: 0.5;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    font-weight: bold;
}